= render 'projects/header', project: @project

.bg-stone-200.border.border-stone-300.rounded-md.p-4.mt-4
  .flex.flex-col.items-center
    .text.font-medium
      = @log.event.display_name
    .text-sm.text-stone-500
      = time_ago_in_words(@log.created_at) + ' ago'

- if @log.identified_user.present?
  = link_to project_identified_user_path(@project, @log.identified_user) do
    .bg-stone-200.border.border-stone-300.rounded-md.p-4.mt-4
      .flex.flex-col.items-center
        .text.font
          = @log.identified_user.email || @log.identified_user.external_id

